<!-- views/partials/header.ejs -->

<div class="corner-ribbon top-left red shadow">ßeta v8</div>
<div id="wrapper">
    <div id="outer">
        <div class="itemwrapper">
            <img src="/images/CP_LOGOS/128x128/CP-Logo-TransCol128x128.png" style="float: left" />
        </div>
        <div class="itemwrapper">
            <img src="/images/CP_LOGOS/TEXT/CP-ColGrad_TEXT.png" height=128 />
        </div>
    </div>
</div>
