<!-- views/homepage -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <div class="homepage">
                <p><a href="/register" class="btn btn-primary link_button" role="button">Create Your Creative Passport</a></p>
            </div>
            <div class="homepage">
                <p>Or</p>
            </div>
            <div class="homepage">
                <p><a href="/signin" class="btn btn-primary link_button" role="button">Sign In</a></p>
            </div>
        </div>
        
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>

</html>